:root {
    --color-dark-grey: #272727;
    --color-grey: #8d8d8d;
    --color-lite-grey: ;
    --color-tan: #caba9a;
    --color-red: #bc4d4d;
    --color-blue: #befafe;
    --color-orange: #ffa800;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-heavy: 900;
}

h1 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--font-medium);
    margin: 0;
    padding: 0;
    font-size: 7rem;
    letter-spacing: -2.5px;
    word-spacing: -10px;
}

h2 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--font-regular);
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
}

h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--font-regular);
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

p {
    font-family: "Red Hat Display", sans-serif;
    font-weight: var(--font-light);
    margin: 0.5em;
    padding: 0;
    font-size: 1.25rem;
}

/* Color Classes */
.red {
    color: var(--color-red);
}

.blue {
    color: var(--color-blue);
}

.tan {
    color: var(--color-tan);
}

.grey {
    color: var(--color-grey);
}

.orange {
    color: var(--color-orange);
}

/* Hide / Show Animation */
.container {
    display: flex;
    flex-direction: column;
    height: 0px;
    transition: 1s;
    overflow: hidden;
}

#menu-about:checked ~ .about {
    height: 345px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#menu-about {
    width: 200px;
}

#menu-project:checked ~ .projects {
    height: 770px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#menu-project {
    width: 200px;
}

#menu-contact:checked ~ .contact {
    height: 260px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#menu-contact {
    width: 200px;
}

#menu-creative:checked ~ .creative {
    height: 210px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#menu-3 {
    width: 200px;
}

input {
    display: none;
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*  */
body {
    background: var(--color-dark-grey);
    color: #ffffff;
    max-width: 1000px;
    margin: 7.5vh auto auto auto;
    padding: 0 50px 0 50px;
}

header {
    text-align: right;
    margin-bottom: 7.5vh;
}

header > h3 {
    margin-top: -1.75rem;
    margin-right: -0.5%;
    letter-spacing: 1.15px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 5vh;
}

.content {
    display: grid;
    /* grid-template-columns: 50px 75px 600px; */
    margin-left: 7.5%;
    /* grid-gap: 5px; */
}

.content-about {
    margin-left: 7.5%;
}

.about-text {
    margin-left: 7.5%;
}

.last {
    margin-top: 0;
    margin-bottom: 0;
}

.curly {
    grid-column: 1;
}

.key {
    grid-column: 2;
}

.val {
    grid-column: 3;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 1000px;
    height: 647.05px;
    background-color: white;
}

img {
    width: 1000px;
}

.arrow-container {
    display: flex;
    align-items: center;
    height: 647.05px;
}

.arrow {
    color: var(--color-tan);
    font-size: 3rem;
    margin: 1.5rem;
}

#carBtn {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #menu-about:checked ~ .about {
        height: 370px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    #menu-project:checked ~ .projects {
        height: 820px;
    }

    #menu-contact:checked ~ .contact {
        height: 260px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    #menu-creative:checked ~ .creative {
        height: 210px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    .carousel {
        width: 800px;
        height: 517.64px;
    }

    img {
        width: 800px;
    }
}

@media screen and (max-width: 1000px) {
    /* h1 {
        font-size: 6rem;
    } */

    h2 {
        font-size: 2.2rem;
    }

    /* h3 {
        font-size: 1.27rem;
    } */

    p {
        font-size: 1.2rem;
    }

    .container {
        /* grid-template-columns: 50px 75px auto; */
        margin-left: 20px;
    }

    #menu-about:checked ~ .about {
        height: 420px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    #menu-project:checked ~ .projects {
        height: 865px;
    }

    #menu-contact:checked ~ .contact {
        height: 260px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    #menu-creative:checked ~ .creative {
        height: 210px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    .content {
        margin-left: 0;
    }

    .content-about {
        margin-left: 7.5%;
    }

    .about-text {
        margin-left: 7.5%;
    }

    .carousel {
        width: 600px;
        height: 388.234px;
    }

    img {
        width: 600px;
    }
}

@media screen and (max-width: 900px) {
    #menu-about:checked ~ .about {
        height: 470px;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 1.8rem;
    }

    header > h3 {
        margin-top: -30px;
    }

    p {
        font-size: 1rem;
    }

    .curly {
        display: none;
    }

    #menu-about:checked ~ .about {
        height: auto;
    }

    #menu-project:checked ~ .projects {
        height: auto;
    }

    #menu-creative:checked ~ .creative {
        height: auto;
    }

    #menu-contact:checked ~ .contact {
        height: auto;
    }

    .carousel {
        width: 500px;
        height: 323.52px;
    }

    img {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .curly {
        display: none;
    }

    h1 {
        text-align: center;
        word-spacing: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        text-align: center;
        margin-top: 10;
        margin-left: 30px;
    }

    header > h3 {
        margin-top: -30px;
        margin-right: 27px;
        white-space: nowrap;
    }

    p {
        font-size: 0.9rem;
    }

    .carousel {
        width: 500px;
        height: 323.52px;
    }

    img {
        width: 100vw;
    }
}
